[2014-11-02 16:04] nickberens360 opened #1 "Input validation"
Input validation needs to check for null values

[2014-11-02 16:08] nickberens360 opened #2 "Integrate AJAX instead of multiple pages"

[2016-05-18 08:05] prolax opened #4 "Not working"
Ran it using both XAMP and WAMP - neither worked.

It ran somewhat, trying to view the 'scss' tab would go to a white screen which said "Set up in your php local environment and configure your sass preprocessor and start here".

The .scss was compiling tho, I could change the colour of the box just fine.

Any ideas what I can do to get it running?

Also when clicking "add module" or any type of "a

[2016-05-18 10:51] alexanderdegre commented on #4
I'd also like to use this tool, so I downloaded it, also found it's pretty broken, and decided to look into what exactly is broken and why.

Currently `atomic-core/footer.php` is trying to include `atomic-core/js/min/compiled.min.js` but this file was gitignored in commit `6d42386` on April 13. Because of this, and with no instruction on what to use for JS compilation, no Javascript is included an

[2016-05-18 12:41] nickberens360 commented on #4
@prolax @alexanderdegre Hey guys, yeah I had added the compiled js to the gitignore while I was doing some work and forgot to remove it when I pushed my changes, oops. I added it back and everything should be working again. If you guys have time I'd really appreciate it if you could give it another try. Thanks!

[2016-05-18 18:09] #2 closed

[2016-05-18 18:09] #1 closed

[2016-05-18 20:51] prolax commented on #4
works great now, thanks!

[2016-05-18 21:38] nickberens360 commented on #4
@prolax thanks for hanging in there with me! I had a coworker test it out and he was having a similar issue. It turns out his ad blocker was flagging one of my CSS class names. "ad_label". I refactored that class name and now things are working as they should. Are you running an ad blocker?

Would you mind pulling the latest code and trying again? Perhaps try it in an incognito window in Chrome.

[2016-05-19 05:36] prolax commented on #4
@nickberens360 awesome job, works like a charm now :+1:

[2016-05-19 11:44] #4 closed

[2016-06-07 12:08] rafaellyra opened #7 "Use a javascript build tool"
Hi,

I am trying to use atomic-docs in a project that I am currently working but for this I need to make it work with less (preprocessor), I don't know how you guys are building the JS (concat and minify) but maybe it could use grunt, gulp, make or anything else to do it, it would also make possible to not push the builded file as well.

If you guys think it is a good idea I able to help making pu

[2016-06-07 12:23] nickberens360 commented on #7
Hi @rafaellyra

Unfortunately LESS is not supported at the moment.

As far as concatenating and minifying the JS files. Are you referring to the files located in /atomic-core/js?, or the project root js files /js?

[2016-06-07 13:24] rafaellyra commented on #7
Hi @nickberens360

Actually, I am doing the changes to support LESS in my fork (depending on how I can do it, I can make a PR for this also), I am referring to the /atomic-core/js files.

[2016-06-07 13:42] nickberens360 commented on #7
@rafaellyra

Ok, that would be great. Just to warn you, I'm more of a designer than a programmer. The code for this is probably a little rough:)

I am almost done setting up gulp in /atomic-core/js. I'll let you know as soon as I push it.

[2016-06-07 14:22] cdCorey opened #8 "Components as template files?"
All the examples show the components as HTML files. Is it necessary for them to be HTML, or can this support PHP or other template languages?

[2016-06-07 14:39] rafaellyra commented on #8
acctualy they are already php files by default as you can see in the [box sample](https://github.com/nickberens360/atomic-docs/blob/master/components/modules/boxes.php), but I think that would be a good improvement to use a template language as twig or something else

[2016-06-07 14:39] nickberens360 commented on #7
@rafaellyra

in master, gulp has been added to handle all of the js and scss in atomic-core/

[2016-06-07 14:42] nickberens360 commented on #8
@cdCorey and @rafaellyra

In atomic-config.php you can set the component extension to whatever you'd like.

$config = array();
  $config['dir'] = dirname(__FILE__);

  //user defined varibales
  $config['preCssDir'] = 'scss'; //Scss preprocessor directory name. E.G sass
  $config['preCssExt'] = 'scss'; //prerocessed file ext. E.G. scss
  **$config['compExt'] = 'php'; //markup file ext. E.G. .html*

[2016-06-07 14:47] cdCorey commented on #8
Excellent. In the videos it showed a .html extension, which is why I was unsure.

I assume the intention is mainly to be able to display the component in the style guide, but ideally it would be great to use the component files directly in live site templates (to keep it DRY). I imagine there could be problems with displaying in the style guide if you use a template type AtomicDocs isn't designed

[2016-06-07 15:20] nickberens360 commented on #8
@cdCorey

In theory, you can give access to your application's functions and data in atomic-head.php. Then you should be able to use your templating language in the components.

I do this with WordPress sites all the time by including wp-load.php in atomic-head.php giving me access to wp's functions. Then I can use the wp_query function, for example, in my components.

Then I just include that com

[2016-06-07 15:54] cdCorey commented on #8
Booya.

--
Corey Caswick
Chatman Design
chatmandesign.com <http://www.chatmandesign.com>

On Tue, Jun 7, 2016 at 10:20 AM, Nick Berens <notifications@github.com>
wrote:

[2016-06-07 15:56] #8 closed

[2016-06-07 21:06] nickberens360 commented on #7
@rafaellyra

I created a branch named "less". I believe less should compile properly now. If you have the time would you mind checking it out and seeing if it's working properly for you?

In atomic-config.php you can set the "preCssExt" variable to "less". This should now be enough for LESS to work.

  $config['preCssDir'] = 'less'; //Scss preprocessor directory name. E.G sass
  **$config['preCssE

[2016-06-08 13:50] rafaellyra commented on #7
@nickberens360

Great! I took a look at your changes, I already did something similar in my customizing, but there are still some stuff to really work properly with less, for instance:
- the way that `less include` works is not smart as sass/scss (the _ before the filename pattern doest not work on less)
- there are some php functions that the name are specific for the preprocessor like: `createSc

[2016-06-08 14:04] #7 closed

[2016-06-13 09:34] rafaellyra opened #9 "Make category/component list scrollable"
There is no scoll on the component list, what is a problem when you have a lot of them as on the print screen below.
<img width="263" alt="screen shot 2016-06-13 at 11 31 24" src="https://cloud.githubusercontent.com/assets/868616/16002961/a573204e-315a-11e6-912d-408cae32c039.png">

[2016-06-13 12:05] rafaellyra opened #10 "Remove node_modules folder from control version"
Normally the dependencies/vendor folder is never commited, as they can/should be installed based on packages.json, [here](https://byjoeybaker.com/why-you-should-never-commit-node-modules-in-nodejs) are some explanations about why you should avoid add it to source control.

[2016-06-13 12:11] #10 closed

[2016-06-13 12:35] rafaellyra opened #12 "Create categories folder outside from atomic-core folder."
To keep it simpler and easy to update, we should better separate core domain files from data domain files.

[2016-06-13 13:27] #9 closed

[2016-06-13 13:27] rafaellyra opened #13 "Use twig as template language"
To improve the code readability and reusability we should use a template engine, I think that [twig](http://twig.sensiolabs.org/) has good standards and can fits good for us.

[2016-06-13 13:43] rafaellyra opened #14 "Use composer to control php dependencies packages"
To have better control/management of PHP lib dependencies we should use a [dependency manager](https://getcomposer.org/doc/00-intro.md).

[2016-06-13 14:22] rafaellyra opened #15 "Remove generated CSS from version control."
To avoid unnecessary merge conflicts and keep the repository cleaner we should never commit generated files.

[2016-06-13 14:24] rafaellyra opened #16 "Remove generated CSS from version control."
To avoid unnecessary merge conflicts and keep the repository cleaner we should never commit generated files.

[2016-06-13 14:25] #16 closed

[2016-06-13 14:33] #15 closed

[2016-06-13 14:53] nickberens360 commented on #16
@rafaellyra
So if the compiled css isnt available in atomic-core the app is broken until the user runs gulp. Im not sure this is the best experience. That's why I left it in there initially.

[2016-06-18 01:52] webstractions commented on #12
Have to agree with this. I just installed and noticed that everything being developed is injected into the core file space.

[2016-06-18 03:33] nickberens360 commented on #12
@webstractions agreed on all counts. We are planning out the best approach to refactoring now.

[2016-06-18 04:54] webstractions commented on #12
Nick, that would be great!

I know you are a front end designer, and would like to help in the backend. Your app is a great concept, but needs a little work.

If you refactor, I am not sure where that would lead. I am working on a complete reimagination of your work here, basically to integrate into a Wordpress plugin.

My problem is that I am not a front end guy. I don't know sass, more or less,

[2016-06-20 09:02] gavmck commented on #13
+1 for this, we would like to build atomic docs into our Timber boilerplate.
https://github.com/timber/timber

[2016-06-20 09:03] gavmck commented on #14
Are you guys likely to get on https://wpackagist.org/ ? Be cool to pull this in with composer too

[2016-06-20 18:44] RobLoach commented on #14
In addition to being on Composer, it could be shipped as a stand-alone binary with https://getcomposer.org/doc/04-schema.md#bin
[code]

Composer indexes Packagist, so it would just need to be on https://packagist.org in order to be consumed by a Wordpress Composer set up.

[2016-06-20 18:48] nickberens360 commented on #14
@gavmck @RobLoach

Hey guys, all great ideas. At the moment our focus is on refactoring the codebase.

[2016-06-21 16:17] nickberens360 commented on #13
@gavmck this issue is in reference to using twig as a templating language for the app itself.

You can configure the components to use the .twig extension in the atomic-config.php file. Then it would just be a matter of using atomic-core/head.php as an entry point for your data. I do [this](http://atomicdocs.io/docs/wordpress) all the time for a standard install of wordpress. I've never worked wit

[2016-06-21 16:19] gavmck commented on #13
Awesome! We are going to run a boilerplate hackday in a few weeks and will be building this in. Will let you know how it goes. Thanks!

[2016-06-24 13:56] timbuktuuu opened #22 "Feature: JS File"
Hi,

a new tab with the JS file for this "Module" like "scss" would be a great feature

[2016-06-24 13:57] nickberens360 commented on #22
@timbuktuuu

Yep, that is on the list!

[2016-06-27 11:30] timbuktuuu commented on #22
Thanks for the info!

-closed-

[2016-06-27 11:30] #22 closed

[2016-06-30 10:36] rafaellyra opened #24 "Add css/js lint files"
In order to make it easier to other developers contribute to this project we should have some guidelines/tools/conventions on how to write code, I think that add a jslint and a csslint file can be a good first step for this.

[2016-06-30 16:48] adouglas commented on #12
I've had a stab at answering this in #26 (for the fllat branch).

@nickberens360 I'm interested in helping out, can you add andrew.douglas@trurating.com to the slack team.

[2016-08-01 14:50] xavierleune opened #32 "Let's improve this !"
Hi @nickberens360

My teammate @cssyren just show me this project. We find it very cool but we saw you're looking for PHP Dev contributors. As we need some improvements (like twig support and better integration with our environment) we'll be glad to help you with that !
Would be accept a pull request with that kind of changes and a few other ?

Thanks for your work,

[2016-08-01 18:06] nickberens360 commented on #32
Hi @xavierleune

Thanks for your interest in the project! I've stopped dev on this version except for bug fixes. The new dev branch is v2_dev. I am almost done implementing the new features. If you'd like I'd definately take a look at the code there. It's only set up for Scss at the moment as i am still working on setting up the user configuration feature.

New features include:
- Clicking in a co

[2016-08-12 23:13] carstingaxion commented on #12
@nickberens360 Hello! I'm interested in joining your slack channel, too.
I did some work on the idea of bringing **Timber**, **twig** and **Atomic Docs** together (#13) and would be happy to share some ideas. Right now, I'm creating a test theme to showcase this to you.

[2016-08-13 01:18] nickberens360 commented on #12
@carstingaxion sounds great! What email should I use for the slack invite?

[2016-08-13 01:23] carstingaxion commented on #12
@nickberens360 An invite for mail+atomicdocs.slack.com@carsten-bach.de would be nice!

[2016-08-15 03:35] #12 closed

[2016-08-26 14:38] dazgreer opened #35 "CSS specificity and PHP include issues"
Hi, I'm using this for the first time, it seems great so far but I've run into a couple of issues.

1) I created a '.btn' component where the class is applied to the <a> tag. I specified a color for the text however this is being overridden (in the docs) by the '.atomsWrap a' style in the 'atomic-core/css/site.css' file since it has a higher specificity than just '.btn'.

<img width="983" alt="scr

[2016-08-27 23:12] #32 closed

[2016-08-29 19:16] nickberens360 commented on #35
@dazgreer thanks for the input. I updated atomic docs to remove the <a> tag styling, thanks for the heads up! You can replace the /atomic-core directory on your install with the latest download from the repo. Alternatively you could open /atomic-core/scss/_cleanup.scss and remove the a{} style definition and rerun gulp.

And yeah I'm working on adding a third tab that will show the actual html out

[2016-08-30 08:10] dazgreer commented on #35
Thanks Nick, that's great, looking forward to the 3rd tab!

[2016-09-07 21:41] nickberens360 commented on #35
@dazgreer the latest version of master has a third tab labeled "output" which will display the outputted html if you're using php or another dynamic language.

[2016-09-16 11:08] yumyo commented on #13
Hey @gavmck how was your hackday then? Would you like to share any of your findings or perhaps have you already done it elsewhere?

[2016-09-16 11:13] gavmck commented on #13
We didn't have much luck with any of the pattern lab atomic design
styleguides unfortunately :(

I've recently been working with react-styleguideist and have ported some of
their ideas over to a custom twig styleguide we have running on our
WordPress and laravel boilerplates.

I'm hoping to push that over to open source shortly.

On 16 Sep 2016 12:08 p.m., "Nico Pernice" <notifications@github.com>

[2016-09-23 09:48] dazgreer commented on #35
@nickberens360 I've done a fresh install of this to test it out and I can see the third 'output' box which is great but for the example I first posted which has 3 php includes, I don't get any output. Pretty sure the relative URLs are correct, any ideas what might be wrong? All the info is in the image in the OP. Cheers

[2016-09-23 12:43] nickberens360 commented on #35
Ahh yes, use the following syntax for your includes

<?php include __DIR__ . '/components/atoms/box.php'; ?>

[2016-09-23 13:54] dazgreer commented on #35
@nickberens360 thanks I've set this up as per below but they're still not showing:

<?php include DIR . '/components/atoms/box.php'; ?>
<?php include DIR . '/components/atoms/paragraph.php'; ?>
<?php include DIR . '/components/atoms/button.php'; ?>

The actual files are at e.g. 'http://localhost:8888/atomic-docs-master/components/atoms/box.php'. Where is DIR defined or do I need to set it?

Cheers

[2016-09-23 14:16] nickberens360 commented on #35
Sorry, I had a syntax error. I forgot the double underscores

<?php include __DIR__ . '/components/organisms/slider.php'; ?>

[2016-09-23 14:19] nickberens360 commented on #35
Hmm, there should be double underscores before and after __DIR__

For some reason github removes them when I save the comment. See the image for the right syntax.

![capture](https://cloud.githubusercontent.com/assets/1283934/18788968/a3bfb2b2-816e-11e6-908f-4b0c27b13439.PNG)

[2016-09-26 09:49] dazgreer commented on #35
@nickberens360 tried the double underscores and still not getting any output

<img width="874" alt="screen shot 2016-09-26 at 11 45 21" src="https://cloud.githubusercontent.com/assets/3962239/18829997/178e81e2-83df-11e6-82fe-ba0996f5b0f9.png">

<img width="870" alt="screen shot 2016-09-26 at 11 45 38" src="https://cloud.githubusercontent.com/assets/3962239/18829996/178c3306-83df-11e6-8b23-a7e848c8

[2016-09-26 12:09] nickberens360 commented on #35
Huh, I'm at a loss. Could you possibly zip up your project and send it to me so I can take a closer look? That really should be working, hmmm. My email is nickberens360@gmail.com

[2016-09-26 16:12] dazgreer commented on #35
thanks @nickberens360 have sent you an email

[2016-09-26 17:13] nickberens360 commented on #35
@dazgreer Ok, I'm an idiot. The path I gave you in the include would work if you were in the root of your project. Try the path that is shown in this screenshot.
![image](https://cloud.githubusercontent.com/assets/1283934/18844377/a7f5c8a0-83e2-11e6-897a-1c932109e07d.png)

[2016-09-26 21:57] dazgreer commented on #35
@nickberens360, that works, thanks for all your help on this!

[2016-09-26 23:26] nickberens360 commented on #35
@dazgreer no problem, and thanks for checking the project!

[2016-09-28 11:38] MeLeGe opened #36 "( ! ) Notice: Undefined index:"
I found this error in the index page only ?

`( ! ) Notice: Undefined index: cat in C:\wamp64\www\atomic-docs\atomic-core\index.php on line 62 Call Stack #TimeMemoryFunctionLocation 10.0007312400{main}( )...\index.php:0 " data-navitem="readme">
`

[2016-09-28 13:23] nickberens360 commented on #36
@MeLeGe Hey thanks for the heads up. Issue resolved.

[2016-09-28 13:23] #36 closed

[2016-11-04 20:26] romago opened #38 "Permission on edit"
Hi Nick.
How I can close style-guide page (atomic-core) from edit?

[2016-11-05 16:55] nickberens360 commented on #38
@romago I am working on a solution for this currently. I will let you know when I have solved this

[2016-11-05 21:16] nickberens360 commented on #38
@romago In the latest version, go to atomic-core/footer.php and uncomment the following include on line 184.

<?php
  //Uncomment the following include to enable client mode.
  //include "clientmode.php"
?>

This will turn off all editor functionality.

[2016-11-06 18:23] romago commented on #38
It works. Thanks a lot.

I added little bit script for remove hidden element.
`$('#atomsWrap .clientMode .aa_actionDrawer, #atomsWrap .clientMode .fa-pencil-square-o, #atomsWrap .clientMode .atomic-editor-footer, #atomsWrap .clientMode .copyBtn-edit, #atomsWrap .clientMode .aa_addFile, #atomsWrap .clientMode .catAdd').remove();`

[2016-11-06 18:23] #38 closed

[2016-11-22 07:04] gemini1988 opened #39 "Issues with sync and need of postcss support"
Hello nick,

This is really awesome style guide. Great job !

I have been using it for first time & have faced some issues.

1. I have clone of your repo. when i have run it i am not able to see some options like renaming, moving , drag and drop is not working,

 **localhost UI**

![localhost](https://cloud.githubusercontent.com/assets/16187886/20513724/e0315a98-b0ad-11e6-8a4f-e8268f008994.JPG)

*

[2016-11-22 21:51] nickberens360 commented on #39
@gemini1988 thanks for checking out the project!

1) The demo version and the latest version have changed quite a bit. To rename a component click the edit icon next to the component name in the main area not in the sidebar.
![ad](https://cloud.githubusercontent.com/assets/1283934/20543252/952b82d4-b0c2-11e6-804e-f890587fdc4d.jpg)

2) .scss file extension is not required for @import strings. From

[2016-11-22 21:58] nickberens360 commented on #39
@gemini1988 Everything seems to be working fine on my end. If you get a chance can you zip up your project and send it to me so I can debug further?

[2016-11-23 07:52] gemini1988 commented on #39
Hey nick,

Great , Thanks for quick response. 👍

1) Yeah that rename feature works 👍 . In latest version drag & drop or move feature is not available. ?

2)  regarding .scss extension : it was issue on my end , I was configuring with postcss, now i got it fixed myself using postcss-sassy-import in gulp file.

3) Sorry ,  This issue happened while deleting component because i include special charac

[2016-11-23 17:00] nickberens360 commented on #39
@gemini1988 Drag and drop should definitely be working. Are there any errors in the console?

[2016-11-24 06:12] gemini1988 commented on #39
I am able to order the components within same category, but when i trying to drag component from a category to other category, its not working. i don't see any errors.

[2016-11-29 05:55] nickberens360 commented on #39
@gemini1988 Hey sorry for the late reply. The sorting works on my end. There is a bug though. If you click a component's link in the sidebar it loses it's drag and drop functionality. Try sorting on a fresh reload.

[2016-12-09 10:10] ChristofLee opened #40 "Prevent access or prevent editing of files on a live site?"
**Question**
What's the best way to manage atomic docs on a live website?

**Example**
For example, if I have a Wordpress website utilising Atomic Docs, and is deployed through Git, how can I prevent someone from opening Atomic Docs and making changes?

(Git ignoring the atomic core could be a solution but then I would not be able to view the docs)

Is there a setting within Atomic Docs to prevent

[2016-12-09 13:45] nickberens360 commented on #40
@ChristofLee So there are a couple different options.

1) If you want to completely block access to Atomic Docs you can download the following wordpress plugin. It requires you to be logged in as an administrator to view the styleguide.
https://wordpress.org/plugins/atomic-docs-lockdown/

2) If you'd like people to still be able to view the styleguide but not make edits you can go into atomic-core

[2016-12-09 14:16] ChristofLee commented on #40
That is exactly what I was looking for, thanks Nick.

I love Atomic Docs, its awesome!

[2016-12-09 14:16] #40 closed

[2016-12-09 14:22] nickberens360 commented on #40
@ChristofLee Great, thanks for checking out the project!!

[2016-12-24 06:04] iamra opened #42 "JQuery incompatability"
Seems that the jquery version Atomic-docs is using conflicts with latest jquery version for frameworks such as bootstrap or foundation. Is there a way to allow Atomic-docs to work without breaking due to this?

[2016-12-24 19:32] nickberens360 commented on #42
@iamra Hmm, is jquery possibly being called twice in atomic docs? If you are including jQuery in atomic-foot.php that will definitely cause an issue.

[2016-12-24 21:31] iamra commented on #42
Sorry I have been meaning to submit this bug/issue for a while, I will go back and get the exact versions and steps to replicate and post on here. Thank you for an excellent software.

[2017-01-12 20:36] florentcm opened #43 "#atomsWrap CSS prevent previewing bootstrap elements"
When editing atoms and using bootstrap, we cannot preview correctly some elements like ".form-control" inside atomic-core because the CSS stylesheet site.css define them under #atomsWrap applied to the body.

I suggest to exclude anything under ".source" class in site.css to be able to preview correctly these elements. Is there any other quickier solutions to achive this?

[2017-01-12 22:03] nickberens360 commented on #43
@florentcm The class name conflicts "should" be fixed in the update I just did. you can update your project by replacing the directory "atomic-core" in your project with the latest "atomic-core" directory from the repo. Just make sure and keep your old "atomic-core" directory until you verify everything is working as it should.

Thanks for checking out the project!

[2017-01-16 18:27] florentcm commented on #43
Thank you, We really appreciate the update and we will continue to follow the development of Atomic-docs since we're starting using the atomic methodology.

[2017-01-16 19:05] nickberens360 commented on #43
@florentcm Good to hear. And thanks for the feedback!

[2017-01-18 08:18] Sebosek opened #44 "Json data database"
JSON data database shouldn't be a single source of truth, it should be just anvil source for additional information.
Created component in IDE aren't shown in the application and in the application I'm not able to create a component in the application, it ends up with "The component reset already exists.".
I'm using application from master branch and application is running on Linux machine and my w

[2017-01-18 14:35] #43 closed

[2017-01-18 14:36] #39 closed

[2017-01-18 14:36] #35 closed

[2017-01-18 14:37] #24 closed

[2017-01-18 14:37] #13 closed

[2017-01-18 14:38] #14 closed

[2017-01-18 14:44] nickberens360 commented on #44
@Sebosek hey thanks for the feedback. Yeah at the moment components have to be created on the application side. I'll add this to the list of updates those. Thanks for checking out the project.

[2017-03-20 14:23] melanieceraso opened #45 "Installed fine but doesn't want to create new components or write settings changes."
Hey guys.
I just installed atomic docs and am having troubles with changing any of the settings or creating new components.  Anytime I try to change something, I'm getting a permissions error.

`Object {readyState: 4, responseText: "<br />↵<b>Warning</b>:  file_put_contents(/Users/m…s.php</b> on line <b>14</b><br />↵can't open file", status: 200, statusText: "OK"}`

Can anyone lend any help with t

[2017-03-20 14:44] #45 closed

[2017-03-20 14:44] melanieceraso commented on #45
Figured out it was a file permission issue.  Thx.

[2017-03-21 02:41] nickberens360 commented on #45
@melanieceraso glad you're up and running, and thanks for checking out the project!

[2017-04-04 15:44] melanieceraso commented on #42
I seem to be having a similar issue when doing some basic hide/show functionality with an onclick function.  When you trigger the function, it simply resets the page and doesn't seem to run.  No errors are generating.  Any direction with this would be welcomed.

[2017-04-04 19:36] nickberens360 commented on #42
@melanieceraso Is your preprocessor outputting to the js file that is connected to atomic-docs? I believe that file reference is in atomic-foot.php.
![image](https://cloud.githubusercontent.com/assets/1283934/24674949/04b6b50e-1943-11e7-9bce-309edcf915d3.png)

Have you created other js functions within atomic docs that are working?

Also, if you're trying a click event on an <a> tag try switching

[2017-04-16 18:48] tolusonaike opened #46 "site.css file on the top level?"
What is the function of the site.css (prism.js) file seating in the main css folder? I was wondering because the atomic core already has a site.css file.

[2017-04-16 18:54] tolusonaike opened #47 "location of the generated js files"
Wanted to get clarification on this. Will it be useful to have the generated js files landing is the scss folder instead? Since the assumption is that a precompiler will compile the css, the precompiler will probably also compile the js.

[2017-04-17 02:39] tolusonaike commented on #47
Aaand of course i just noticed the settings.dat file that stores locations. Closing this issue

[2017-04-17 02:39] #47 closed

[2017-04-17 02:45] nickberens360 commented on #47
Ha, yeah if you click the gear icon in the upper left blue toolbar you can change settings there as well.

[2017-04-17 02:46] nickberens360 commented on #47
Ha, yeah if you click the gear icon in the upper left blue toolbar you can change settings there as well.

[2017-04-17 02:48] tolusonaike commented on #47
It doesn't have a js option though

[2017-04-17 02:55] nickberens360 commented on #47
Ahh yes, right you are. I'll have to add that to my to do list. Thanks for the feedback and checking out the project.

[2017-05-11 01:25] alicam commented on #13
@gavmck Any progress on the styleguides/TWIG/WordPress??

[2017-05-12 11:35] gavmck commented on #13
I've now left the company, but they are using this: https://github.com/RedBullet/generator-twig-component-library

Runs on twig, pretty easy to plug in to wordpress or laravel

[2017-05-22 20:07] melanieceraso opened #48 "Bootstrap 4"
Do you have any direction on how we can swap out Bootstrap 3 to use Bootstrap 4 with AtomicDocs?  Thanks.

[2017-05-23 13:35] nickberens360 commented on #48
@melanieceraso the tabs in atomic docs are dependent on bootstrap so we would need to re-write that portion in order to remove BS3. Have you tried adding BS4 to what's already there? I assume all sorts of bad things happen lol

[2017-05-23 13:41] melanieceraso commented on #48
Yeah, it's not pretty.  I have found a basic work-around for now... so it's getting the job done.  Just wondered if there was a better way to do it.  lol.  Thanks.

[2017-05-23 14:38] nickberens360 commented on #48
I'll take a look at pulling out bootstrap 3 and going with a different tab solution. ill let you know what i come up with. might not be till the weekend though

[2017-05-23 14:41] melanieceraso commented on #48
That would be amazing.  I really love using it... and it seems now that people are starting to move into bootstrap 4 a bit... and I decided to finally make the jump.

I just commented out the bootstrap css references within the site.css and then put a link to the bootstrap 4 cdn in the page header and that seemed to do the trick.  It doesn't want to play nice when I like out to the v4 js but... at

[2017-05-28 08:03] bdenham opened #49 "Integration with JS / AngularJS Projects?"
Even though it's PHP-based, I'd love to get some help/direction for somehow integrating this into a variety of different JS-based apps, including my current AngularJS app. Is this at all possible? I'll try any workaround you might suggest. Thanks.

[2017-05-28 08:14] nickberens360 commented on #49
@bruce I have about zero experience with angular, but the flat bd that
stores all the data is just a big Jason file, which is how angular consumes
and displays data if my wild guess is right so I'm sure it could work with
some tweaking.

On Sun, May 28, 2017, 3:03 AM Bruce Denham <notifications@github.com> wrote:

[2017-05-28 08:23] nickberens360 commented on #49
@bruce also the code base is pretty happhazardly put together. I'm a
designer and from end dev, so there really no Mvc organization or any code
structure paradigm behind it so it's a bit of a mess

On Sun, May 28, 2017, 3:14 AM Nick Berens <nickberens360@gmail.com> wrote:

[2017-05-28 19:30] bdenham commented on #49
Ok, thanks for getting back to me. As long as I can point the atomic docs output to directories consumed/used in my angular app, I guess it should work. I'm just wondering if all the modules and sass source files will need to live in a completely separate project, running with MAMP, and then maybe just automate the output (main.css) to the angular projects. That may be the best I can do.

[2017-06-02 13:49] melanieceraso commented on #48
FWIW, I did some SASS to fix up the tabs after I had put in Bootstrap 4.   It wasn't actually thrown off that much in terms of styling and the functionality of them still works.   I added the following to the site.scss file under the atomic-core:

`#atomsWrap .codeBlocks .nav-tabs-atomic {
  padding-left: 0;
  margin-bottom: 0;
  li {
    list-style-type: none;
    display: inline-block;
    margi

[2017-06-02 15:28] nickberens360 commented on #48
Awesome @melanieceraso thanks for digging into this!

[2017-06-02 15:39] melanieceraso commented on #48
You're welcome!  :)

<http://www.apruve.com/>

*Melanie A. Ceraso*
Web Application Designer, *Apruve*
*p* 612.812.8173
*w* <http://www.apruve.com/> www.apruve.com

On Fri, Jun 2, 2017 at 10:28 AM, Nick Berens <notifications@github.com>
wrote:

[2017-07-31 21:48] lkjimy opened #50 "Separate the tool files from project files"
I'm a Front-End developer, and got to say that this tool awesome!

To organize the project, i would put the tool inside it's own folder, therefore avoiding mixing my project files with files from tools. It makes updating the tool a lot more easy and safe. For that would be necessary a file to carry the user configurations.

It's possible to make this kind of setup today?

[2017-08-02 18:50] nickberens360 commented on #50
@lkjimy Yes that's been on my todo list! I'll update here when completed.

[2017-08-23 17:45] dallasantwerp opened #51 "Unable to show sidebar after it has been hidden."
It seems the button with class '.atoms-side_show ' stays on 'display: none' if the sidebar is hidden.
The functions showSideBar() and hideSideBar() don't contain a toggle for it.
Or always leaving it to 'display: block' would be a fix too.

Alsow the target element is quite small to click. You realy have to click on the arrow.
A solution would be to put the class '.js-showSide' on the parent.

[2017-08-23 18:06] dallasantwerp commented on #42
Is atomic docs dependant on jQuery v3.1.1? Or can you overwrite it in atomic-core/vendor/jquery.js?

[2017-08-27 16:27] nickberens360 commented on #42
@dallasantwerp Im using 3.1.1 for any particular features so try changing it in the location mentioned and see what happens:)

[2017-08-27 16:31] nickberens360 commented on #51
@dallasantwerp yeah I've been meaning to fix that. Thanks

[2017-09-12 16:31] nickberens360 commented on #51
@dallasantwerp fixed

[2017-09-12 16:31] #51 closed

[2017-09-12 16:35] #49 closed

[2018-01-23 10:29] malithmcr opened #52 "Suggestion: add user privileges"
Hey, Thanks for this great tool.

I want to share a documentation(made with atomic-docs) with some of my team members, mainly designers, but I don't want them to edit any of components. I'd suggest to add user privileges on frontend or it would be nice to have possibility to turn off editing feature from frontend.

Thanks

[2018-01-23 14:44] nickberens360 commented on #52
Hi @malithmcr that is definitely on the roadmap for the next version!

As a work around you can go into atomic-core/footer.php and look for the following code block near the bottom of the file.

<?php
  //Uncomment the following include to enable client mode.
  //include "clientmode.php"
?>

Simply uncomment the include and the will turn off editing capabilities. Let me know if you have any furthe

[2018-02-22 19:52] melanieceraso opened #53 "File permissions"
After creating a new component, I often use an editor to write the scss and markup without using the browser window.  I continually have to edit the individual file permissions to allow all to read and write the files.  Is there an easier way to just have it set these permissions right off the bat when you create the component?

[2018-02-22 20:07] nickberens360 commented on #53
@melanieceraso I haven't encountered that problem. Let me do some digging and get back to you

[2018-02-22 22:20] ryanaltvater opened #54 ""Copy" functionality not working"
Doesn't seem to work locally, or on the web demo. I'm using the latest version of Chrome if that's helpful at all.

Also, a couple of other questions that I'm curious about...

**1. Is it possible, on initial load, to display the first category automatically?**
When I go to Atomic Docs locally, I get the sidebar of categories and a blank starting page. It isn't until I click a category that it dis

[2018-02-23 14:08] nickberens360 commented on #54
@ryanaltvater The copy feature is flash based so it's basically useless at this point lol. In the upcoming version it's js based however.

1) As far as the initial page loading the first category, yes this is a good idea. I have stopped adding new features to this version however and will only work on fixing bug issues until the new version.

2) Honestly I don't really see value in having the comp

[2018-02-23 15:53] ryanaltvater commented on #54
Oh, nice! When is the new version coming? Is there any way that I can get a beta test of it? I'm part of a new team over at Red Hat and I'm leading the charge on starting a design system for said team. I'd love to be a part of the latest (even in beta form).

As for a use case, I tried to explain that in my initial question. Basically, a design system is something that is consumed. It's built by D

[2018-02-23 18:48] nickberens360 commented on #54
@ryanaltvater Ahhh ok gotcha. Most people seem to have been using atomic docs on a project by project basis and mostly as a dev resources. I can see how a compiled tab would be useful. I'll definitely add to my list for the next version.

As for a time frame for a beta release, it's probably going to be a little ways out. I'll certainly keep you in the loop though. Thanks!

[2018-02-27 16:35] nickberens360 commented on #53
@melanieceraso I am unable to reproduce this. Have you tried tried changing the file permissions at the root of your project?

[2018-02-27 20:05] melanieceraso commented on #53
I have done that... and I did it just now again.  Created a new component and when I try to open the file through my editor (RubyMine) it tells me it's not writeable...
<img width="255" alt="screen shot 2018-02-27 at 2 04 35 pm" src="https://user-images.githubusercontent.com/1434102/36751912-367f344e-1bc7-11e8-9f1a-37af9a8ee8ce.png">

:\  It's not a show-stopper... but I was just wondering if ther

[2018-02-27 20:16] nickberens360 commented on #53
@melanieceraso yeah that's definitely not great though. I'll keep digging

[2018-03-02 08:14] qwer4k opened #55 "php errors on setup"
Hello, i use wamp 3 for localhost and it's working. Also i did setup Ruby and install sass.
I put atomic-core folder in my www folder. ( C:\wamp64\www\atomic-docs\atomic-core ).

So i am getting these errors when i go to index.php;

**in sidebar**
`Warning: usort() expects parameter 1 to be array, null given in C:\wamp64\www\atomic-docs\atomic-core\index.php on line 119`

`Warning: Invalid argumen

[2018-03-02 08:36] qwer4k commented on #55
sorry, i solved.

[2018-03-02 08:36] #55 closed

[2018-03-02 23:46] qwer4k opened #56 "Sass preprocessing output?"
Hello there again,

I am very new on sass and first time i use atomic-docs.  I have a display problem, i can't see the preview. styles are not applied to output.

[Here is the screenshot.](https://prnt.sc/im3h4v)

i think problem is about **Configure your preprocessor to output scss/main.scss to css/main.css.**

- i use wamp and localhost i working fine.
- i installed Ruby and installed SASS with

[2018-03-05 23:32] qwer4k commented on #56
solved again.

[2018-03-05 23:32] #56 closed

[2018-03-08 03:47] vrastilondrej opened #57 "Update Prism and add Smarty language highlighting"
Hi! Thank you for awesome app! I would like to add code snippets in _Smarty_ language(with escaped characters of course)  and  I would appreciate add syntax  highlighting. In your app is Prism implementet, but not with _Smarty_ language.  Should I to update prism js and scss files and run `GulpFile.js`? I have not experience with Gulp\Grunt, so I ask. Thanks

[2018-03-08 04:28] vrastilondrej commented on #57
I did manually, everything works... I looking for use Atomic for my next project! In my opinion more universal tool than generated documentations.

[2018-03-08 04:28] #57 closed

[2018-04-06 19:56] scottsawyer opened #58 "Sanitizing File Names"
I just found Atomic Docs last night, pretty awesome so far, but I ran into something that caused me a big headache right off the bat.

File names ( and strings in general ) are not sanitized ( as far as I can tell ).  This can cause a problem when certain illegal characters are added as part of a component or category, which then breaks the application.

Example:
component name: Box (Red)
results

[2018-04-06 20:14] nickberens360 commented on #58
@scottsawyer Yeah pretty much everything you've mentioned has been on my todo list for awhile. I've started version 2 which will definitely take care of the issues you've mentioned. You're welcome to dive into the current version if you'd like to address the sanitization, but i'm about 5% PHP developer and 95% designer so the code is pretty gross.

I'm writing the next version using the FatFree ph

[2018-04-06 20:39] scottsawyer commented on #58
Thanks Nick, I saw in another issue that the newest code was being pushed to v2_dev branch, is that still the case?

Yeah, I noticed the routing issue.  I am running this on nginx, and I ran into some trouble but got it resolved.

Once I get this particular project squared away, I will touch base with you and see what the best approach to help will be.

[2018-04-06 20:46] nickberens360 commented on #58
@scottsawyer No, i need to clean up that mess of branches. I just have the new version locally at the moment. When I get a chance I'll push it and let you know. Thanks for checking out the project

[2018-07-11 20:17] vladdu commented on #58
Hi @nickberens360! Thanks for atomic-docs! Do you have any kind of idea about the time plan for the next version? A month? A year?

[2019-04-23 16:02] malithmcr opened #61 "Demo is not working"
Hey @nickberens360

I tried to check the demo page today. But I get 404 error.

http://www.nickberens.me/atomic-docs/atomic-core/base.php

[2019-06-27 13:04] gnegreiros opened #63 "Compile Sass with Wordpress"
Hi,
I don't know how/where to execute **wp_enqueue_style**
Can anyone help me with how to do this?

Doc says:

[2019-08-13 16:46] nickberens360 commented on #63
@gnegreiros sorry for the late reply. try adding this to the style.css file in your themes root directory.
@import url('css/main.css');

You will need to to match the path to your themes setup

[2019-09-04 14:00] mjs2430 commented on #56
Hi @qwer4k , I'm having the same issue. My preprocessor works fine and updates my files, but I am unable to see the styling affect the preview as well. How did you fix this?

Thanks

[2019-09-04 18:13] nickberens360 commented on #56
@qwer4k so you are unable to see the updated styles in the atomic docs styleguide or the front end of your site?

[2019-09-24 12:53] thepixture opened #64 "Still developing?"
Great tool!

I would like to know if the project will be further developed. Last update was a year ago.

[2019-09-24 19:37] nickberens360 commented on #64
@thepixture yes we are! Currently working on the next version. Not sure yet when It will be ready to go yet though.
Thanks, Nick

[2020-01-20 15:47] LucPestille commented on #64
Any update or rough ETA? The current master branch is so close to being perfect for my needs, and from what I can see of v4 it solves lots of my wants...

[2020-01-20 23:30] nickberens360 commented on #64
@LucPestille so the back end dev on our team is too busy with client so the project has stalled. I'm really just a designer and have taken this version as far as I can. My next step is to reach out to the dev community and see who can help. I'll keep you updated. I think it's a valuable project and worth the time!

[2020-03-20 21:05] malithmcr commented on #64
Hey @nickberens360,
I could help with some frontend and backend stuff. please let me know any way I could be helpful.

[2020-04-12 11:41] randomnessdev opened #65 "Import / Export with figma?"
I was wondering if you were thinking of an import or export feature from/to figma ?

[2020-04-20 03:58] LuuDavid778 opened #66 "Styles not applying to preview."
Hey there,

i'm using a SASS preprocessor and I seem to be doing the correct steps  although nothing changes to the preview when I modify the styles. Changes are basically not being reflected on the AtomicDocs styleguide.

![2020-04-19 21_02_15-localhost_atomic-docs-master_atomic-core__cat=test](https://user-images.githubusercontent.com/55604802/79712917-100e8300-8281-11ea-80c0-bfd022dc65da.png)

[2020-04-20 22:11] #66 closed

[2021-09-07 02:47] JamieSlome opened #70 "Trying to get in touch regarding a security issue"
Hey there!

I'd like to report a security issue but cannot find contact instructions on your repository.

If not a hassle, might you kindly add a `SECURITY.md` file with an email, or another contact method? GitHub [recommends](https://docs.github.com/en/code-security/getting-started/adding-a-security-policy-to-your-repository) this best practice to ensure security issues are responsibly disclosed,